.InvoiceCard {
    padding-top: 50px;
}

.CardBlock {
    padding-top: 25px;
}

/* Status block styles */
.StatusBlock {
    padding-bottom: 25px;

}

.PendingIcon {
    color: red;
    font-size: 2rem;
}

.InvoicedIcon {
    color: orange;
    font-size: 2rem;
}

.PaidIcon {
    color: green;
    font-size: 2rem;
}

/* Search Bar styles */
.SearchBar input {
    border-radius: 5px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}

.SearchIcon:hover {
    cursor: default;
    color: #cfced3;
}

.OrderBySection {
    padding-bottom: 25px;
}