/* General */
.ProfileForm {
    padding-top: 75px;
}

.CardBlock {
    padding-top: 10px;
    padding-bottom: 25px;
  }

.FormCard {
    padding: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }

.EditIcon {
    padding-right: 10px;
    font-size: 2rem;
  }

/* Form Section */
.FormControl {
  font-size: 0.8rem;
  color: blue
}

/* Button Section */

.BtnContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }
