.CardBlock {
    padding-top: 25px;
}

i {
    font-size: 1.5rem;
    align-items: center;
}

th i {
    padding-right: 5px;
}

p {
    font-size: 1.5rem;
}

.PencilIcon i {
    color: #454545;
    font-size: 2rem;
    padding-bottom: 20px;

}

.InvoiceCardHeader {
    font-size: 2rem;
    font-weight: 400;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    word-wrap: break-word;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.JobButtonContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}