.JobCard {
    padding-top: 50px;
}

.CardBlock {
    padding-top: 25px;
}

i {
    font-size: 1.5rem;
    align-items: center;
}

th i {
    padding-right: 5px;
}

.PendingIcon {
    color: red;
    font-size: 2rem;
}

.UnderwayIcon {
    color: orange;
    font-size: 2rem;
}

.CompletedIcon {
    color: green;
    font-size: 2rem;
}

.DefaultCarIcon {
    font-size: 150px;
    color: #004AAD;
}

.CommentEyes i {
    padding: 10px;
    padding-top: 50px;
    font-size: 2rem;
}

h2 {
    font-size: large;
}

p {
    font-size: 1.5rem;
}

.PencilIcon i {
    color: #454545;
    font-size: 2rem;
    padding-bottom: 20px;

}

.JobCardHeader {
    font-size: 2rem;
    font-weight: 400;
}